In [4]:
import pandas as pd
import numpy as np

np.random.seed(42)

rows = 9000

data = {
    "income": np.random.normal(50000, 20000, rows),
    "debts": np.random.normal(15000, 10000, rows),
    "credit_score": np.random.randint(300, 850, rows),
    "employment_years": np.random.randint(0, 35, rows),
    "loan_amount": np.random.normal(20000, 15000, rows),
    "payment_history": np.random.randint(0, 6, rows),
    "age": np.random.randint(18, 70, rows),
    "loan_term": np.random.choice([12, 24, 36, 48, 60], rows)
}

df = pd.DataFrame(data)

# ---------- Target Variable ----------
df["creditworthy"] = np.where(
    (df["credit_score"] > 650) &
    (df["payment_history"] <= 1) &
    (df["income"] > df["loan_amount"] / 2),
    1,
    0
)

# ---------- Introduce Missing Values ----------
for col in df.columns:
    df.loc[df.sample(frac=0.08).index, col] = np.nan

# ---------- Messy Data ----------
df.loc[df.sample(frac=0.03).index, "income"] *= -1   # negative income
df.loc[df.sample(frac=0.03).index, "debts"] *= 5     # extreme debts

df.head(2)

,income,debts,credit_score,employment_years,loan_amount,payment_history,age,loan_term,creditworthy
0,59934.283060,22654.021560,813.0,8.0,15537.525878,3.0,20.0,12.0,NaN
1,47234.713977,25734.127024,848.0,17.0,38487.292308,4.0,65.0,12.0,0.0

In [ ]:
# info regarding DataFrame
#  income ---> personal income of the applicant
#  debts ---> total existing debts of the applicant (loan)
#  credit_score  ----> means that pereson's history in returning loans ,wether he returned that on time or not
#  employment years ---> means for how long he has benn doing his job 
#  Loan_amount -->   The amount of Loan a person is applying for
# payment_history --->